@import "tailwindcss";

.header-menu {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.header-menu a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.header-menu a:hover {
    color: blue;
}

.page-title {
    font-size: 3rem;
    margin-top: 50px;
    font-weight: 600;
}